body {
  font-family: "Helvetica", sans-serif;
  width: auto;
  margin: 14px ;
}
/*img {
  width: 150px;
  box-shadow: 8px 8px 4px #AAA;
  float: right;
}*/

.header {
  background-color: gray;
  margin: 20px;
  border-width: 3px;
  border-color: blue;
  padding: 5px;
}

h3 {
  font-weight: bold;
  border-bottom: solid 3px black;
  border radius: 2px;
  padding-bottom: 8px;
}

h4 {
  font-weight: bold;
}

.right {
    float: right;
    width: 300px;
    padding: 10px;
}

img.test {
  width:100%;
  height: auto;
}
